<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

		<!-- Section Header -->
		<header class="col-md-8 col-md-push-2 col-sm-12 section-header">
			<h2>{{ site.about-title }}</h2>
			<hr class="normal">
		</header>

		<!-- Section Content -->
		<div class="col-md-8 col-md-push-2 col-sm-12 section-content">
			<!-- {{ site.about-description }} -->
			<p>Spearheading sustainable design revolution in Architectural, Engineering & Construction industry via machine learning and structural design optimization.</p> 
			<p>OptiStructure service brings to market cutting-edge in-house developed engineering optimization solutions originating from deep academic background and a diverse cluster of expertise. Offered services vary from project-wise structural engineering design optimization consultation to custom engineering optimization solutions.</p>
			<p>OptiStructure focuses on delivering the optimal balance between sustainable design and ecological responsibility to structural performance and construction cost.</p>
		</div>
	</div>

  </div>
</section>
