<!-- Blog Section -->
<section class="site-section blog-section next-section-indicator" id="blog">
  <div class="container">
    
    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.blog-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <!-- <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.blog-description }}</p>
      </div> -->

    </div>
    <br><br><br><br>
    <div class="row blog-articles-container">

      <div class="col-md-4 col-md-push-0 col-sm-10 col-sm-push-1 col-xs-10 col-xs-push-1">
        <article class="blog-article clearfix">
          <header class="article-header">
            <div class="img-wrap">
              <a href="http://www.liontos.gr/index.php/el/" target="_blank">
                <img src="images/collaborators/liontos-logo-gr.png" alt="Liontos">
              </a>
            </div>
          </header>
        </article>
      </div>
      
      <div class="col-md-4 col-md-push-0 col-sm-10 col-sm-push-1 col-xs-10 col-xs-push-1">
        <article class="blog-article clearfix">
          <header class="article-header">
            <div class="img-wrap">
              <a href="https://www.ace-hellas.gr/" target="_blank">
                <img src="images/collaborators/ace-hellas.png" alt="ACE-Hellas">
              </a>
            </div>
          </header>
        </article>
      </div>

      <div class="col-md-4 col-md-push-0 col-sm-10 col-sm-push-1 col-xs-10 col-xs-push-1">
        <article class="blog-article clearfix">
          <header class="article-header">
            <div class="img-wrap">
              <a href="https://www.ccc.net/" target="_blank">
                <img src="images/collaborators/ccc.png" alt="CCC">
              </a>
            </div>
          </header>
        </article>
      </div>

    </div>
    <br><br><br><br><br>
  </div>
</section>
