<!-- Contact Section -->
<section class="site-section section-focus contact-section parallax" id="contact"  data-scrollax-parent="true">

  <!-- Parallax Contact Image -->
  <div class="cover" data-scrollax="properties: { 'translateY': '48%' }">
    <img src="{{ site.baseurl }}/images/contact-image.jpg" alt="Sera - One Page Template by Gleesik Wallpaper" />
  </div>

  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.contact-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <!-- <p>Contact us today to discuss ways in which we can help you build more sustainably</p>
        <p>{{ site.contact-email }}</p>
        <p>{{ site.contact-description }}</p> -->

        <p><strong>Technical Support</strong></p>
        <p>Contact us today to discuss ways in which we can help you build more sustainably</p>
        <p>Email: support@optistructure.eu</p>
        <p><strong>Become Agent</strong></p>
        <p>Contact us to become an agent of OptiStructure Service</p>
        <p>Email: info@optistructure.eu</p>
        <p><strong>Headquarters</strong></p>
        <p>+30 213 030 2740</p>
        <p>Michali Karaoli 6, Dafni, 172 35, Attica, Greece</p>
        <p class="contact">
          <a href="https://www.linkedin.com/company/optistructure/about/?viewAsMember=true" target="_blank">
            <img src="images/linkedin2.jpg" alt="Linkedin">
          </a>
          <a href="https://www.facebook.com/optistructure" target="_blank">
            <img src="images/facebook2.png" alt="Facebook">
          </a>
        </p>
      </div>

    </div>

    <!-- Form Container -->
    <div class="row form-container">

      <!-- Contact Form -->
      <div class="col-md-8 col-md-push-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.1849198529153!2d23.736511!3d37.949467999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bda05562bba5%3A0x797acd8e9d4219ea!2sMichali%20Karaoli%206%2C%20Dafni%20172%2035!5e0!3m2!1sen!2sgr!4v1675974735589!5m2!1sen!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>

  </div>
</section>
