<!-- milestone Section -->
<section class="site-section milestone-section next-section-indicator" id="milestone">
	<div class="container">

		<!-- Section Heading -->
		<div class="row text-center">

		  <!-- Section Header -->
			<header class="col-md-8 col-md-push-2 col-sm-12 section-header">
				<h2>Our Milestone</h2>
				<hr class="normal">
			</header>
		  
			<!-- Section Content -->
			<div class="col-md-8 col-md-push-2 col-sm-12 section-content">
			
				<dl>
					<dt>2014 </dt>
					<dd>
						<ul>
							<li><strong>January:</strong> Publication on the first, real-world, optimum design computing platform (OCP) for civil structural systems. OCP is the basis of the OptiStructure service.</li>
						</ul>
					</dd>
						

					<dt>2015</dt>
					<dd>
						<ul>
							<li><strong>March:</strong> Successful POC for a French company, reduction by 8% on the material demands for a 500 meters high skyscraper.</li>
						</ul> 
					</dd>

					<dt>2016</dt>
					<dd>
						<ul>
							<li>Development of the first, real-world, optimum design computing platform (OCP) for civil structural systems</li>
						</ul>
					</dd>

					<dt>2017</dt>
					<dd>
						<ul>
							<li><strong>January:</strong> Fully operational integration of the OCP with SAP2000 structural analysis and design software.</li>
						</ul>
					</dd>

					<dt>2018</dt>
					<dd>
						<ul>
							<li><strong>February:</strong> Presentation of the OptiStructure service to the CSI channel partner conference and the headquarters of the CSI-America in San Francisco.</li>
						</ul>
					</dd>

					<dt>2019</dt>
					<dd>
						<ul>
							<li><strong>May:</strong> release of v2019 version of OCP, transition to an API library, for ease the integration with structural analysis and design software.</li>
							<li><strong>September:</strong> Integration of the OCP with SCIA engineer structural analysis and design software.</li>
							<li><strong>December:</strong> Successful POC for SCIA (A NEMETSCHEK company), improvement by 6.5% of an already optimized complex steel structure by the SCIA engineer software.</li>
							<li><strong>August:</strong> First version of the Topology Optimization-based generative design component integrated with SAP2000.</li>
							<li><strong>December:</strong> Fully operational integration of the OCP with ETABS structural analysis and design software.</li>
						</ul>
					</dd>

					<dt>2020</dt>
					<dd>
						<ul>
							<li><strong>January:</strong> Successful POC for a Greek design office, reduction by 10% on the material demands for a 3-storey steel building structure.</li>
							<li><strong>February:</strong> release of v2020 version of OCP, transition of the core calculations from FORTRAN to C#.</li>
							<li><strong>April:</strong> the developers of the OCP established Infersence, that is the legal entity that owns the rights of OptiStrucrure Service.</li>
							<li><strong>May:</strong> Successful POC for a Greek design office, reduction by 8% on the material demands for the 500 meters high skyscraper.</li>
							<li><strong>October:</strong> Successful project for an Indian Company, improvement by 7.0% of an already optimized 15-storey RC building structure (part of theOxygen Park project at Noida, India).</li>
							<li><strong>December:</strong> Integration of a Machine Learning-based response surface for further reduction of the time required to deliver the optimized design.</li>
						</ul>
					</dd>

					<dt>2021</dt>
					<dd>
						<ul>
							<li><strong>June:</strong> Registration of the OptiStrucrure Service’s trade mark by EUIPO.</li>
							<li><strong>October:</strong> Integration of the Topology Optimization-based generative design component with ABAQUS and FreeFEM finite element analysis software.</li>
						</ul>
					</dd>
				</dl>
			</div>

		</div>

	</div>
</section>
