<!-- milestone Section -->
<section class="site-section milestone-section next-section-indicator" id="milestone">
	<div class="container">

		<!-- Section Heading -->
		<div class="row text-center">

		  <!-- Section Header -->
			<header class="col-md-8 col-md-push-2 col-sm-12 section-header">
				<h2>Our Milestones</h2>
				<hr class="normal">
			</header>

      <div class="flex-parent">
        <div class="input-flex-container">
          <input type="radio" name="timeline-dot" data-description="2014" checked>
          <div class="dot-info" data-description="2014">
            <span class="year">2014</span>
            <span class="label">Kick-Off</span>
          </div>
          <input type="radio" name="timeline-dot" data-description="2015">
          <div class="dot-info" data-description="2015">
            <span class="year">2015</span>
            <span class="label">First POC</span>
          </div>
          <input type="radio" name="timeline-dot" data-description="2017">
          <div class="dot-info" data-description="2017">
            <span class="year">2017</span>
            <span class="label">API Automation</span>
          </div>
          <input type="radio" name="timeline-dot" data-description="2018">
          <div class="dot-info" data-description="2018">
            <span class="year">2018</span>
            <span class="label">First Presentation</span>
          </div>
          <input type="radio" name="timeline-dot" data-description="2019">
          <div class="dot-info" data-description="2019">
            <span class="year">2019</span>
            <span class="label">First full backend</span>
          </div>
          <input type="radio" name="timeline-dot" data-description="2020">
          <div class="dot-info" data-description="2020">
            <span class="year">2020</span>
            <span class="label" id="redlink">Optistructure Born</span>
          </div>
          <input type="radio" name="timeline-dot" data-description="2021">
          <div class="dot-info" data-description="2021">
            <span class="year">2021</span>
            <span class="label">NBG prize</span>
          </div>
          <input type="radio" name="timeline-dot" data-description="2022">
          <div class="dot-info" data-description="2022">
            <span class="year">2022</span>
            <span class="label">Trademark</span>
          </div>
          <!-- <input type="radio" name="timeline-dot" data-description="2023">
          <div class="dot-info" data-description="2023">
            <span class="year">2023</span>
            <span class="label">flash memory</span>
          </div> -->
          <!-- <input type="radio" name="timeline-dot" data-description="2024">
          <div class="dot-info" data-description="2024">
            <span class="year">2024</span>
            <span class="label">flash memory</span>
          </div> -->
          
          <div id="timeline-descriptions-wrapper">
            <p data-description="2014">
              <strong>January:</strong> Publication on the first, real-world, optimum design computing platform (<a href="https://link.springer.com/article/10.1007/s00158-013-1027-1" target="_blank" >OCP</a>) for civil structural systems. OCP is the basis of the OptiStructure service.
            </p>
            <p data-description="2015">
              <strong>March:</strong> Successful POC for a French company, reduction by 8% on the material demands for a 500 meters high skyscraper.
            </p>
            <p data-description="2017">
              
                <strong>May:</strong> Fully operational integration of the OCP with SAP2000 structural analysis and design software.<br>
              
            </p>
            <p data-description="2018">
              
                <strong>February:</strong> Presentation of the OptiStructure service to the CSI channel partner conference and the headquarters of the CSI-America in San Francisco.<br>
              
            </p>
            <p data-description="2019">
              
                <strong>May:</strong> release of v2019 version of OCP, transition to an API library, for easier  integration with structural analysis and design software.<br>
                <strong>September:</strong> Integration of the OCP with SCIA engineer structural analysis and design software.<br>
                <strong>December:</strong> Successful POC, improvement by 6.5% of an already optimized complex steel structure in collaboration with SCIA engineer software.<br>
                <strong>August:</strong> First version of the Topology Optimization-based generative design component integrated with SAP2000.<br>
                <strong>December:</strong> Fully operational integration of the OCP with ETABS structural analysis and design software.<br>
              
            </p>
            <p data-description="2020">
              
                <strong>January:</strong> Successful POC for a Greek design office, reduction by 10% on the material demands for a 3-storey steel building structure.<br>
                <strong>February:</strong> Release of v2020 version of OCP, transition of the core calculations from FORTRAN to C#.<br>
                <strong>April:</strong> The developers of the OCP established Infersence, that is the legal entity that owns the rights of OptiStrucrure Service<br>
                <strong>May:</strong> Successful POC for a Greek design office, reduction by 8% on the material demands for the 500 meters high skyscraper.<br>
                <strong>October:</strong> Successful project for an Indian Company, improvement by 7.0% of an already optimized 15-storey RC building structure.<br>
                <strong>December:</strong> Integration of a Machine Learning-based response surface for further reduction of the time required to deliver the optimized design.<br>
              
            </p>
            <p data-description="2021">
              
                <strong>March:</strong> First Prize of the <a href="https://www.nbg.gr/en/business/business-seeds/winners" target="_blank">11th seeds Innovation & Technology Competition</a> of the National Bank of Greece.<br>
                <strong>August:</strong> Successful POC on two structures in Saudi Arabia.<br>
                <strong>December:</strong> release of v2022 version of OCP.<br>
              
            </p>
            <p data-description="2022">
              
                <strong>June:</strong> Registration of the OptiStrucrure Service’s trade mark by <a href="https://euipo.europa.eu/eSearch/#basic/1+1+1+1/Optistructure" target="_blanl">EUIPO</a>.<br>
                <strong>October:</strong> Integration of the Topology Optimization-based generative design component with <a href="https://www.3ds.com/products-services/simulia/products/abaqus/" target="_blank">ABAQUS</a> and <a href="https://freefem.org/" target="_blank">FreeFEM</a> finite element analysis software.<br>
              
            </p>
            <!-- <p data-description="2023">Nobody likes cords. Nobody.</p>
            <p data-description="2024">Brighter than glow memory.</p> -->
          </div>
        </div>
      </div>
    </div>
	</div>
</section>
