<!-- Prices Section -->
<section class="site-section section-focus prices-section" id="prices">
	<div class="container">

		<!-- Section Heading -->
		<div class="row text-center">

		  <!-- Section Header -->
			<header class="col-md-8 col-md-push-2 col-sm-12 section-header">
				<h2>{{ site.pricing-title }}</h2>
				<hr class="normal">
			</header>
		  
			<!-- Section Content -->
			<div class="col-md-8 col-md-push-2 col-sm-12 section-content">
				<p>{{ site.pricing-description }}</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/uNWyHnFrDrE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>

		</div>

	</div>
</section>
